extends layout
block content

  div.row-fluid

    div.span8.well(style="padding-top:6px;")
      h3 Analyze your Infragram photos 
      p Infragram is an online tool for analyzing plant health with near-infrared imagery. To learn more, <a href="http://publiclab.org/wiki/near-infrared-camera">read about our open source cameras</a>, or <a href="http://store.publiclab.org/products/infragram-diy-filter-pack">buy a modded camera</a> from the Public Lab non-profit.</p>
      p You can upload images from an <a href="http://store.publiclab.org/products/infragram-diy-filter-pack">Infragram-modified camera</a>, or connect a <a href="http://store.publiclab.org/products/infragram-webcam">USB Infragram webcam</a>
      br
      p: a.btn-large.btn-primary(href="/sandbox/") Begin now &raquo;

    div.span4(style="margin-bottom:6px;")
      img(width="100%" src="/images/infragram-animated.gif")

  hr 

  div.row-fluid
    div.span4
      p: img(src="/images/infragram-aerial.jpg")
      p Combine an infragram camera with Public Lab's <a href="http://publiclab.org/wiki/balloon mapping">open source</a> <a href="http://store.publiclab.org/products/balloon-mapping-kit">Balloon Mapping Kit</a> for aerial infrared plant analysis!
    div.span4
      h2 What is Infragram?
      p An "infrablue" image is one in which the "red" channel of the image shows "near-infrared" light instead of the usual red. Such images can be generated using many inexpensive digital cameras and webcams by removing the infrared block filter and then adding a filter that selectively blocks red light (this is something the Public Lab Infragram kits nicely accomplish). 
      p <a href="http://publiclab.org/wiki/near-infrared-camera">Learn how this technique works</a>, and help improve it, by joining <a href="http://publiclab.org">Public Lab</a>, an open community working towards affordable, open source environmental science tools for real-world problems.
    div.span4
      img(style="width:100%" src="/images/camera-plant.png")
      h3 Build or buy one
      p Public Lab tools are <a href="http://publiclab.org/wiki/licenses">open source</a>, and you can <a href="http://publiclab.org/wiki/infragram">build one yourself</a>. The Public Lab non-profit also <a href="http://store.publiclab.org/collections/diy-infrared-photography">distributes kits to help you get started</a>.

  hr 
  h2#new Recent images <small>uploaded by contributors like you</small>

  div.well
    - var p = {current: parseInt(pageNumber), total: parseInt(pageCount)}
    - if (p.current > 1)
      a.page.btn(href="./?page=1#new") &lt;&lt;
      a.page.btn(href="./?page=" + (p.current - 1) + "#new") &lt;
    - else
      span.page.disabled.btn <<
      span.page.disabled.btn <
    - for (var i = p.current - 5; i <= p.current + 5; ++i)
      - if (i <= p.total && i > 0)
        - if (i !== p.current)
          a.page.btn(href="./?page=" + i + "#new")=i
        - else
          span.page.disabled.btn=i
    - if (p.current < p.total)
      a.page.btn(href="./?page=" + (p.current + 1) + "#new") &gt;
      a.page.btn(href="./?page=" + p.total + "#new") &gt;&gt;
    - else
      span.page.disabled.btn &gt;
      span.page.disabled.btn &gt;&gt;

  div.row-fluid
    - each image, index in images
      - var log = []
      - if (image.log) log = JSON.parse(image.log)
      div.image-div.span3
        div.thumbnail
          a(href="/i/"+image._id+"?src="+image.filename+"&"+log[log.length-1]): img.image(src="./upload/"+image.filename+"_thumb.jpg")
        h4.title= image.title
        div.meta
          span.author= "by "+(image.author || "anon")
          span.updated_at= " on "+image.updated_at+" "
          a(href="#delete-modal" data-toggle="modal" onclick="$('#delete-form').attr('action', '/delete/" + image._id + "');") Delete
      if (index+1) % 4 == 0
        | </div><hr style="clear:both;"/><div class="row-fluid">

