extends layout
block content

  - var log = []
  - if (image.log) log = JSON.parse(image.log) 

  div.navbar.clearfix
    div.navbar-inner
      ul.nav
        li
          a(href="/sandbox/?src=/raw/"+image._id+"&infragrammar="+log[log.length-1])
            i.icon.icon-pencil
            |  Open in Infragram Sandbox &raquo;
        li: a(onClick="$('#final').toggle();$('#original').toggle();") See original

  div
    img#final(src=image.src)
    img#original(src=image.orig_src style="display:none;")
    div.body= image.desc
    br
    h3.title= image.title
    div.meta
        span.title= image.title
        span.author= "by "+(image.author || "anon")
        span.updated_at= " on "+image.updated_at

  hr 
  h4 Command log

  form.form
    label Current command
    input(type="text" value=log[log.length-1])
    label Full command log
    textarea#log.span6(rows=10)= log.join('\r')


