extends layout
block content

  div.navbar.clearfix
    div.navbar-inner
      ul.nav
        li
          a(href="/sandbox/?src="+image.filename)
            i.icon.icon-pencil
            |  Open in Infragram Sandbox &raquo;
        li: a(onClick="$('#image').toggle();$('#original').toggle();") See original

  div#image-container
    canvas#image(width="800" height="600" style="width:800px; height:600px;")
    img#original(src="../upload/"+image.filename style="display:none; width:800px; height:600px;")

    div#colorbar-container(style="display:none;")
      span#colorbar-min -1.00
      canvas#colorbar
      span#colorbar-max 1.00

    div#colormaps-group(style="display:none;")

    div.body= image.desc
    br
    h3.title= image.title
    div.meta
      span.title= image.title
      span.author= "by "+(image.author || "anon")
      span.updated_at= " on "+image.updated_at

  hr 
  h4 Command log

  form.form
    label Current command
    - var log = []
    - if (image.log) log = JSON.parse(image.log)
    input(type="text" value=log[log.length-1])
    label Full command log
    textarea#log.span6(rows=10)= log.join('\r')
